<div class="tasks">

  <div class="text">
    <h1>7guis</h1>
    <p>An implementation of <a href="https://eugenkiss.github.io/7guis/">Eugen Kiss' 7GUIs benchmark</a> in Angular 8</p>
  </div>

  <div>
    <h2>Counter</h2>
    <app-counter></app-counter>
  </div>

  <div>
    <h2>Temperature Converter</h2>
    <app-temperature-converter></app-temperature-converter>
  </div>

  <div>
    <h2>Flight Booker</h2>
    <app-flight-booker></app-flight-booker>
  </div>

  <div>
    <h2>Timer</h2>
    <app-timer></app-timer>
  </div>

  <div>
    <h2>CRUD</h2>
    <app-crud></app-crud>
  </div>
  <div>
    <h2>Circle Drawer</h2>
    <app-circle-drawer></app-circle-drawer>
  </div>
</div>
<p class="footer">2019 <a href="https://elarbee.io">elarbee.io</a></p>

